{% extends 'base.html' %}

{% block title %}Parents ToDO Task List Page{% endblock title %}
{% block description %}Parents ToDO Task List Page{% endblock description %}
{% block keywords %}Parents, ToDo, Task List{% endblock keywords %}
{% block content %}
{% load static %}

    <h1>Task List</h1>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="col1">Tasks</th>
                <th style="color: #cc0000;">To-do</th>
                <th style="color: #ff9900">Progress</th>
                <th style="color: #009e0f;">Done</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody class="tasklist">
            {% for task in tasks %}
            <tr>
                <td class="col1">{{ task.text }}</td>
                <td><input type="checkbox" name="status_{{ task.id }}" value="To-do" {% if task.status == 'TODO' %}checked{% endif %}></td>
                <td><input type="checkbox" name="status_{{ task.id }}" value="In Progress" {% if task.status == 'IN_PROGRESS' %}checked{% endif %}></td>
                <td><input type="checkbox" name="status_{{ task.id }}" value="Done" {% if task.status == 'DONE' %}checked{% endif %}></td>
                <td>
                    <a href="{% url 'task_detail' task.id %}" class="btn btn-blue btn-sm">View</a>
                    <a href="{% url 'update_todo' task.id %}" class="btn btn-orange btn-sm">Edit</a>
                    <a href="{% url 'task_delete' task.id %}" class="btn btn-red btn-sm">Delete</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No tasks found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}